= tinymce_assets
= tinymce

- content_for(:head) do
  = javascript_include_tag 'filter'
  = javascript_include_tag 'email'
  = stylesheet_link_tag 'email'


//  content_for(:head) do
//   = stylesheet_link_tag 'groups'
//   = javascript_include_tag 'groups'



= render 'partials/header'

%center
#filter_label
.email_label
  Filters:
#filters
  %span{:class => "ui_fil" }
    .left_fil Student
    .x
    
    = render "filters", :filter_values => @filter_values
    
// = link_to "change filters", "", :id => "change_filter"
// = render "filters", :filter_values => @filter_values



